<div id="<%= dom_id task %>">
  <% if controller_name == "projects" || action_name != "show" %>
    <div class="rounded-md shadow-md p-4 bg-gray-200">
      <a href="<%= task_path(task)%>" class="text-lg font-medium text-primary mb-4 hover:text-accent2"><%= task.name %></a>
      <div class="flex justify-end">
        <%= link_to "Edit", edit_task_path(task), class: "btn-secondary px-4 mr-2 text-sm",
          data: {
          action: "click->modal#open",
          turbo_frame: "modal",
        }%>
        <%= button_to "Delete", task_path(task), class:"btn-primary py-1 px-4 text-sm", method: :delete, data: { "turbo-confirm": "Are you sure?" }%>
      </div>
    </div>
  <% else %>
    <div>
      <p><%= task.description %></p>
    </div>
  <% end %>
</div>
