<nav class="bg-primary">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex-shrink-0 flex items-center">
        <!-- Logo or brand name -->
        <%= link_to "ProjectManagement", root_path, class: "text-white text-xl font-bold"%>
      </div>
      <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-white p-3" data-action="navbar#toggle">
          <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:items-center">
        <!-- Navigation links -->
        <%= link_to "Projects", projects_path, class: "text-white hover:text-gray-200 px-3 py-2 rounded-md text-sm font-medium" %>
        <%= link_to "Tasks List", tasks_path, class: "text-white hover:text-gray-200 px-3 py-2 rounded-md text-sm font-medium"%>
        <%= link_to "Tasks Map", tasks_map_path, class: "text-white hover:text-gray-200 px-3 py-2 rounded-md text-sm font-medium"%>
      </div>
      <div class="hidden lg:flex lg:items-center">
        <% if current_user %>
          <%= link_to current_user.email, edit_user_registration_path, class: "text-white hover:text-gray-200 px-3 py-2 rounded-md text-sm font-medium" %>
          <%= button_to "Log Out", destroy_user_session_path, class: "text-white hover:text-gray-200 px-3 py-2 rounded-md text-sm font-medium", method: :delete%>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "text-white hover:text-gray-200 px-3 py-2 rounded-md text-sm font-medium"%>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<div class="navbar-menu relative z-[9999] hidden" data-navbar-target="menu" data-action="resize@window->navbar#close">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25" data-action="click->navbar#toggle"></div>
  <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
    <div class="flex items-center mb-8 justify-between">
      <%= link_to "ProjectManagement", root_path, class: "text-primary text-xl font-bold"%>
      <button class="navbar-close" data-action="navbar#toggle">
        <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>
        <% if current_user %>
          <li class="mb-1">
            <%= link_to current_user.email, edit_user_registration_path, class: "block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" %>
          </li>
        <% end %>
        <li class="mb-1">
          <%= link_to "Projects", projects_path, class: "block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded" %>
        </li>
        <li class="mb-1">
          <%= link_to "Tasks List", tasks_path, class: "block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"%>
        </li>
        <li class="mb-1">
          <%= link_to "Tasks Map", tasks_map_path, class: "block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"%>
        </li>
      </ul>
    </div>
    <div class="mt-auto">
      <div class="pt-6">
        <% if current_user %>
          <%= button_to "Log Out", destroy_user_session_path, class: "btn-primary px-4 py-3", method: :delete%>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn-secondary px-4 py-3 mb-3"%>
        <% end %>
      </div>
    </div>
  </nav>
</div>
